@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,400,700');

.App {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif !important;
}

.App footer {
	font-size: 0.8em;
	margin-top: 20px;
}
